@import '../../styles/helpers';

.transactionItem {
    display: flex;
    align-items: flex-start;

    .dot {
        height: 52px;
        width: 16px;
        display: flex;
        align-items: center;
        font-size: 8px;
        justify-content: center;
        color: $violet;
    }

    .boxCollapse {
        width: calc(100% - 24px);
        padding: 8px 0;
        margin-left: 12px;
        border-bottom: 1px dashed #E8EAEB;

        .itemTitle {
            background: rgb(255, 255, 255);
            height: 36px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;

            .btnCollapse {
                display: inline-flex;
                -webkit-box-pack: center;
                justify-content: center;
                flex: 0 0 auto;
                -webkit-box-align: center;
                align-items: center;
                outline: 0px;
                border-radius: 3px;
                cursor: pointer;
                font-family: $font-family-base;
                font-weight: $font-weight-semibold;
                font-size: $font-size-base;
                line-height: 36px;
                margin: 0px;
                overflow: hidden;
                position: relative;
                height: 2.57143rem;
                min-width: unset;
                color: rgb(0, 136, 255);
                border: none;
                background: transparent;
                padding: 0px;

                .btnTitle {
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    padding-right: 8px;
                    z-index: 2;
                    font-size: inherit;
                    font-weight: inherit;

                    > p {
                        box-sizing: border-box;
                        font-family: $font-family-base;
                        font-weight: $font-weight-base;
                        font-size: $font-size-base;
                        line-height: 20px;
                        margin: 0px;
                        color: $default;
                        text-align: inherit;
                    }
                }

                .btnIcon {
                    height: 16px;
                    width: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $violet;

                    @include transition(transform 0.3s ease-in-out);
                }
            }

            .date {
                box-sizing: border-box;
                font-family: $font-family-base;
                font-weight: $font-weight-base;
                font-size: $font-size-base;
                line-height: 20px;
                margin-left: 4px;
                color: rgb(116, 124, 135);
                text-align: inherit;
            }
        }
    }
}

.collapseIcon {
    transform: rotate(+180deg);
}

.panel {
    min-height: 0px;
    height: auto;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition-duration: 200ms;

    &Wrapper {
        width: 100%;
    }

    .collapseItem {
        padding-top: 14px;
        padding-bottom: 6px;

        .infoItem {
            display: flex;
            align-items: center;
            padding-top: 12px;

            &:first-child {
                padding: 0;
            }

            > p {
                box-sizing: border-box;
                font-family: $font-family-base;
                font-weight: $font-weight-base;
                font-size: $font-size-base;
                line-height: 20px;
                margin: 0px;
                color: $default;
                text-align: inherit;

                &:first-child {
                    color: rgb(70, 81, 95);
                    width: 160px;
                }
            }
        }
    }
}