@import "../../styles/helpers";

.headerItem {
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 4px;
    outline: 0;
    border: 0;
    width: auto;
    height: auto;
    min-width: 44px;
    
    > a {
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: start;
        text-decoration: none;
        vertical-align: middle;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        padding: 0;
        outline: 0;
        border: 0;
        border-radius: 3px;
        height: 48px;
        color: $text-color;

        &:hover {
            background-color: $gray-200;
        }
    }
}

.menuItemIcon {
    width: 34px;
    display: flex;
    min-width: unset;
    align-items: center;
    margin-left: 10px;
    flex-shrink: 0;

    > svg {
        font-size: 24px;
        max-height: 24px;
    }
}

.menuItemTitle {
    flex: unset;
    width: 155px;
    margin-top: -2px;
    font-weight: $font-weight-semibold;
    margin-bottom: unset;

    > p {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        font-size: $font-size-base;
        font-weight: $font-weight-semibold;
        font-family: var(--bs-font-sans-serif);
        line-height: 20px;
        margin: 0;
    }
}

a.headerItemActive {
    background-color: $violet !important;
    font-size: 1rem;
    color: $white !important;
}

.panel {
    min-height: 0px;
    height: auto;
    overflow: visible;
    width: 100%;
    margin: 0;
    padding: 0;
}

.childItem {
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none !important;
    bottom: 0;
    outline: 0;
    margin: 4px 0;
    padding: 0;
    padding-left: 40px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: $default;
    width: auto;
    height: 40px;
    min-width: 44px;
    border-radius: 3px;

    &:hover {
        background-color: $gray-200;
    }
}

a.childItemActive {
    font-size: 1rem;
    color: $violet !important;
}

.collapsed .dropdownIcon {
    transform: rotate(+90deg);
}

.dropdownIcon {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 8px;

    @include transition(transform 0.3s ease-in-out);
}