@import '../../../styles/helpers';

.container {
    z-index: 1000;
    border: 1px solid rgb(211, 213, 215);
    box-shadow: rgba(168, 168, 168, 0.25) 0px 0.571429rem 1.14286rem;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 26rem;
    position: absolute;
    inset: 0px auto auto 0px;
    transform: translate3d(0, 40px, 0px);

    & .filter {
        display: inline-flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex: 0 0 auto;
        -webkit-box-align: center;
        align-items: center;
        outline: 0px;
        border-radius: 3px;
        cursor: pointer;
        font-family: $font-family-base;
        font-size: 1rem;
        line-height: 1.42857rem;
        margin: 1.14286rem 0px 0px;
        overflow: hidden;
        position: relative;
        height: 2.57143rem;
        padding: 0px 1.14286rem;
        width: 100%;
        color: rgb(255, 255, 255);
        background: $violet;
        border: none;
    }

    .customContainer {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 1.14286rem 0px 0px;
        margin: 0px;
        width: 100%;

        .customAt {
            height: 2.85714rem;
            position: relative;
        
        }
    }
}

.wrapper {
    padding: 16px;
}

.selectWrapper {
    display: flex;
    padding: 0px;
    box-sizing: border-box;
    margin: -4px;
    flex-wrap: wrap;

    .createdBtn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        outline: 0px;
        border-radius: 3px;
        cursor: pointer;
        font-family: $font-family-base;
        font-weight: 400; /* Giá trị mới nhất */
        font-size: 1rem;
        line-height: 1.42857rem;
        margin: 0.285714rem; /* Giá trị mới nhất */
        overflow: hidden;
        position: relative;
        height: 2.57143rem;
        padding: 0px 1.14286rem;
        min-width: 4.57143rem;
        color: rgb(15, 24, 36); /* Giá trị mới nhất */
        border: .5px solid rgb(211, 213, 215); /* Giá trị mới nhất */
        background: transparent; /* Giá trị mới nhất */
        width: calc(50% - 0.571429rem);

    &:hover {
        background: rgb(243, 244, 245);
        border-color: $violet;
        color: $violet;
        border-color: $violet;
    }

    &.selected {
        color: $violet;
        background: #f6f3ff;      
    }
    
    span {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px;
        z-index: 2;
        font-size: inherit;
        font-weight: inherit;
    }
    }
}

.selectItem {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: $default;
    width: calc(50% - 8px);
    margin: 4px;
    border: 1px solid rgb(211, 213, 215);
    background: transparent;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    height: 36px;
    padding: 0px 16px;
    min-width: 64px;

    &.selected {
        color: $violet;
        background: #f6f3ff;      
    }
    
    &:hover {
        background: rgb(243, 244, 245);
        border-color: $violet;
        color: $violet;
        border-color: $violet;
    }
}


