@import '../../styles/helpers';

.wrapcontainer {
    &.opacity {
        opacity: 0.4;
    }
}

.container {
    display: flex !important;
    flex-direction: column;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
}

.image {
    height: 90px;
    z-index: 1;
    position: absolute;
}

.detailsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
}